<script src="/socket.io/socket.io.js"></script>

<html>
<head>
    <title>Stream Your Tweet !!</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/public/style/layout1.css">

    <!-- js libs -->
    <script src="http://localhost:3000/public/js/jquery/jquery-1.8.3.min.js"></script>
    <script src="http://localhost:3000/public/js/underscore/underscore-1.4.0.min.js"></script>

    <!-- js app -->
    <script src="http://localhost:3000/public/js/app/socket.io.client.js"></script>

</head>
<body>

    <div id="header">
        <h2><span class="title">Stream Your Tweet !!</span></h2>
    </div>

    <div id="top">
       Insert here the twitter nickname : <br/>
       <input type="text" id="twittnick" value="" class="longform" /> - <input type="button" value="Send" id="nickreq" />
        <!-- <br/> <input type="button" value="Test Server Tw" id="testTweet" /> -->
    </div>

    <div id="middle">
        Twitter Streaming : <br/>
        <div id="serverStatus"></div>
        <div id="streamingList">

        </div>
    </div>
</body>

<script>

    $(document).ready(function() {

        // try to connect with node server and open Socket
        socketClient();

    })

</script>

</html>


<script type="text/template" id="post-twitter-preview-template">
    <!-- Twitter Preview -->
    
    <div class='twitonstream' id="divcount<%= divcount %>">
        <div class="tw-user">
            <img src="<%= user.profile_image_url %>"> <span class="tw-screen-name">@<%= user.screen_name %></span>
        </div>
        <div class="tw-text"><%= text %></div>
    </div>

</script>