body {
  background-color: #eee;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 800px;
  min-height: 500px;
}
h1 {
  color: #eee;
  text-align: center;
}
#foldDown .leading {
  font-size: 18px;
}
.hidden {
  height: 0px;
  overflow: hidden;
}
#twitterPopup {
  width: 100%;
  position: absolute;
  height: 41px;
  margin-top: -41px;
  z-index: 99;
  left: 0;
  top: 50%;
  font-size: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-shadow: 0 0 10px #fff;
  font-style: italic;
  color: #333;
  font-family: georgia, serif;
}
#twitterPopup p {
  text-overflow: ellipsis;
  margin: auto;
  overflow: hidden;
  max-width: 800px;
}
.display {
  margin: 0 0 0 -350px;
  padding: 0;
  border-radius: 3px;
  list-style-type: none;
  width: 700px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-family: georgia, serif;
}
.display li {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  float: left;
  width: 200px;
  margin-right: 50px;
  height: 160px;
}
.display li:last-child {
  margin: 0;
}
.display li .number {
  font-size: 100px;
  width: 100%;
  text-align: center;
  display: block;
  height: 125px;
}
.display li .label {
  width: 100%;
  text-align: center;
  display: block;
  border-top: 1px double #ccc;
  border-bottom: 1px double #ccc;
  padding: 5px 0;
  font-style: italic;
  margin-top: -10px;
}
#maximumReach .number,
#averageFollowers .number {
  font-size: 48px;
  line-height: 125px;
}
#foldDown {
  width: 260px;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 99;
  text-align: left;
  text-shadow: 1px 1px 1px #000000;
  top: 0;
  padding: 20px;
  bottom: 0;
  left: -300px;
}
#foldDown .drawer {
  position: absolute;
  background: url(../../img/drawer.png);
  width: 24px;
  height: 24px;
  left: 300px;
  top: 22px;
  cursor: pointer;
  opacity: 0.1;
}
#foldDown .drawer:hover {
  opacity: 0.5;
}
#foldDown h1 {
  margin: 0 0 5px 0;
  text-align: left;
}
#foldDown h2 {
  color: #fff;
}
#foldDown .leading {
  margin-bottom: 10px;
}
#foldDown .button {
  float: right;
}
#foldDown p {
  font-size: 28px;
  font-style: italic;
  margin: 0;
  color: #ccc;
}
#foldDown .hashtagInput {
  width: 200px;
  background: #fff;
  float: left;
  border-bottom: 1px solid #333;
}
#foldDown .hashtagInput input {
  display: inline-block;
  background: transparent none;
  border: none;
  padding: 5px;
  text-align: left;
  width: 200px;
  height: 18px;
}
#foldDown li#description {
  max-height: 36px;
  overflow: hidden;
}
#foldDown .button {
  float: right;
}
#foldDown #userInfo {
  clear: left;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  max-height: 220px;
  overflow: hidden;
}
#foldDown #userInfo #userAvatar {
  float: left;
  margin-right: 10px;
}
#foldDown #userInfo ul {
  list-style-type: none;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 140px;
  float: right;
  line-height: 1.4;
}
#foldDown #userInfo #fullName {
  font-weight: bold;
}
#foldDown #userInfo .label {
  font-weight: bold;
  float: left;
  display: block;
  width: 50%;
}
#foldDown #userInfo .value {
  float: right;
  display: block;
  width: 50%;
}
#foldDownInner {
  overflow-y: auto;
  overflow-x: visible;
}
#foldDown.active {
  top: 0;
  left: 0;
}
#foldDown.active .drawer {
  opacity: 1;
}
#settings {
  color: #fff;
  padding: 0;
  list-style: none;
}
#settings a {
  color: #fff;
}
#settings li {
  margin-bottom: 10px;
}
#userAvatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 5px;
  border: 1px solid #eee;
}
ul#suggestions {
  padding: 0;
  margin: 0;
}
ul#suggestions li {
  list-style-type: none;
  border-bottom: 1px solid #333;
}
ul#suggestions a {
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 0;
}
#selectedTweet {
  background: rgba(255, 255, 255, 0.8);
  width: 400px;
  /* 	height: 100px; */

  z-index: 99;
  position: fixed;
  right: -440px;
  top: 50%;
  margin-top: -200px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
#selectedTweet.active {
  right: 0;
}
#selectedTweet h2 {
  margin: 0;
}
#selectedTweet p {
  margin: 5px 0;
}
#selectedTweet .userDetails {
  height: 57px;
}
#selectedTweet .user-avatar {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background-size: cover;
  border: 1px solid #eee;
  background: white;
  background-size: cover;
}
#selectedTweet p#tweetCopy {
  font-size: 16px;
}
