body {
    background-color: #616D7E;
    margin: 0;
    padding: 0;
    background: url("../images/backgrounds/backg_act1.jpg") no-repeat;
    background-size: cover;
}

#wrapper {

}

section {
    width: 100%;
}

#top {
    position: fixed;
    top: 0;
    height: 10%;
    border: 1px dotted #000000;
    background: #808080;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

#middle {
    top: 10%;
    height: 90%;
    /*background: green;*/
    position: fixed;
}

#bottom {
    position: fixed;
    height: 10%;
    bottom: 0;
    border: 1px dotted #000000;
    background: #808080;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

/*chat*/
.chat-container {
    /*float:left;*/
    width:300px;
    height:250px;
    /* overflow:scroll-y; */
    padding:10px;
    position: fixed;
    bottom: 11%;
    border: 1px solid red;
    background-color: #747170;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

#conversation {
    height: 220px;
    width: 295px;
    overflow-y: scroll;
    /*border:1px solid #9acd32;*/
}

/*Login*/
#login {
    position: relative;
    top: 100px; left: 40%;
    width: 250px; height: 120px;
    background-color: #C34A2C;
    text-align: center;
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

#loginID {
    width: 170px;
    background: #000000;
    color: #ff0000;
    margin-top: 25px;
    /*margin-left: 15%;*/
}

#loginBTN {
    /*margin-left: 23%;*/
    margin-top: 20px;
}


/* --- BUTTONS --- */
.button-red {
    width: 130px;
    height: 35px;
    background-color: #ff0000;

}